html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}


body{	
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	background: #E5E5E5;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

a{
  text-decoration: none;
  font-weight: 400;
  color: #3072C4;
}

a:hover{
  cursor: pointer;
}

.return{
  padding: 20px 0px;
  width: 95%;
  border-bottom: 2px solid #E5E5E5;
  margin-right: 40px;
  margin-bottom: 20px;
}


p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.header{
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
  background: #FFFFFF;
  width: 100%;
}

.mainMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exit{
  margin-right: 150px;
}

.menu{
  display: flex;
  align-items: center;
  padding: 20px 10px;
  cursor: pointer;
}

.menu:hover{
  background-color: #DADADA;
}

.menu2{
  
  padding: 10px 10px;
}

.menu2:hover{
  background-color: #DADADA;
}

.help:hover .hiddenhelp{
  display: block;
}

#lightbox{
  position:absolute;
  top: 350px;
  left: 550px;
  width: 500px;
  display:none;
  background-color: #FFFFFF;
}

.sendExtends{
  margin-left: 10px;
}

.footerMenu{
  height: 80px;
  background: #E5E5E5;
  width: 500px;
}

.close{
  margin-left: 220px;
  margin-top: 15px;
}

#lightbox:target ~ div{
  opacity: 0.3;
  z-index: -1;
}

#lightbox:target{
  display:block;
}

.submitModal{
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: 1px;
  color: black;
  width: 150px;
  height: 42px;
  padding: 5px 10px;
  margin: 20px 0px 20px 15px;
  cursor: pointer;
}
.exit::before {
  content: "";
  height: 30px;
  padding-left: 20px;
  border-left: 2px solid #E5E5E5;
}


.hiddenhelp{
  position: absolute;
  margin-top: 40px;
  background: #FFFFFF;
  margin-left: -10px;
  display: none;
}
.hiddenextracts{
  position: absolute;
  margin-top: 40px;
  background: #FFFFFF;
  margin-left: -10px;
  display: none;
}

.menu:hover, .extracts:hover .hiddenextracts{
  display: block;
}

.content{
	margin: 20px 150px 20px 150px;
	background: #FFFFFF;
	border: 1px solid #DADADA;
	border-top: 1px solid #3072C4;
	flex: 1 0 auto;
	padding: 45px 0px 45px 45px;
}

h1{
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0px 30px 20px;
}
h3{
  padding: 20px 0px;
  font-weight: 400;
  color: #3072C4;
  border-bottom: 2px solid #E5E5E5;
  margin-right: 40px;
}

h2{
  padding: 20px 0px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
}

.placement{
  line-height: 40px;
  font-size: 18px;
  padding: 15px 0px;
  font-weight: 500;
}

.grText{
  font-weight: 400;
  font-size: 18px;
  color: #DADADA;
  line-height: 30px;
}

.inf{
  margin-top: 0px;
  margin-bottom: -30px;
  font-weight: 400;
  font-size: 18px;
  color: #DADADA;
  line-height: 30px;
}

.inp{
  margin-left: 20px;
}

.inpCheck{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.footer{
	margin-left: 150px;
	box-sizing: border-box;
	background: #E5E5E5;
	color: gray;
	padding: 10px;
	line-height: 20px;
	flex: 0 0 auto;
}

.textSKB1
{
	margin-top:5px;
	margin-left:30px;
}

input.submit {
  background: #1D85D0;
  border: 1px solid #1D85D0;
  border-radius: 1px;
  color: white;
  width: 150px;
  height: 42px;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
}

.image{
	margin-right: 5px;
}

.text{
	margin: 10px 10px;
}

.str{
	display: flex;
}

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox'] + label::before{
  content: "\2713";
  color: #FFF;
  display: inline-block;
  border: 1px solid gray;
  font-size: 16px;    
  font-weight: 700;
  line-height: 18px;
  height: 18px;
  width: 20px;
  text-align: center;
  margin-left: -10px;
  margin-right: -5px;
  cursor: pointer;
}

input[type='checkbox']:checked + label::before{
  color: #FFF;
  background-color: #1D85D0;
   cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid #E5E5E5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border: 2px solid #E5E5E5;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1D85D0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1D85D0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  