html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

svg{
  stroke-width: 1px;
  stroke: red;
  fill: white;
  width: 200px;
}

input[type='radio'] {
  opacity: 0;
}

.vidget{
  display:flex;
  flex-direction: row-reverse;
  margin-right: 300px;
}


label:hover svg,
label:hover ~ label svg
{
  fill:yellow;
}

input[type='radio']:checked + label svg,
input[type='radio']:checked + label ~ label svg
{
  fill:red;
}




